body {
    background-color: #F7F4EB;
    margin: 0;
    color: #568366; 
    font-family: 'Kodchasan';
}

* {
    box-sizing: border-box;
}


/* header */
    header {
        display: flex;
        justify-content: space-between;
        z-index: 10;
    }

    .logo {
        margin: 40px;
    }

    /* dropdown navigation */
        a, button {
            cursor: pointer;
        
        }
        
        nav {
            position: absolute;
            top: 100px;
            right: 50px;
            width: 250px;
        }
        
        .navigation {
            position: fixed;
            right: -500px;
            width: 350px;
            height: 100%;
            background-color: #F7F4EB;
            transition: .5s;
        }
        
        .navigation ul li{
            color: #014921;
            text-align: right;
            text-transform: uppercase;
            list-style-type: none;
            font-size: 1.5em;
            padding: 20px 30px;
            border-bottom: 1pt solid rgb(255, 85, 0);
        }

        .navigation ul li a {
            color: #014921;
            text-decoration: none;
        }

        .navigation ul li a:hover {
            color: #9ca29e;
        }
        
        .hamburger, .bar {
            position: fixed;
        }
        
        .hamburger {
            display: block;
            top: 5%;
            left: 95%;
            width: 30px;
            height:30px;
            transform: translateY(-50%);
            border: 0;
            background: 0 0;
        
        }
        
        .bar{
            top: 3px;
            background: #014921;
            width:100%;
            height: 4px;
            transition: all .3s ease-in;
        }
        
        #bar2 {
            top: 11px;
        }

        #bar3 {
            top: 19px;
        }

        .navigation.active {
            right: 0;
        }

        .hamburger.open #bar1 {
            background-color: #014921;
            transform: rotate(-45deg) translate(-5px, 18px);
        }

        .hamburger.open #bar2 {
            background-color: transparent;
        }

        .hamburger.open #bar3 {
            background-color: #014921;
            transform: rotate(45deg) translate(6px, -5px);
        }

/* article contents */
    .contents {
        display: flex;
        justify-content: center;
        margin-left: 50px;
        padding-bottom: 50px;
        width: 95%;
    }
    
    .article-text {
        color: #014921;
        background-color: #E8F2E2;
        border-radius: 30px;
        width: 900px;
        height: auto;
        padding: 50px;
        padding-top: 40px;
        margin-right: 50px;
    }

    .article-text h2 {
        font-family: 'KronaOne';
        font-size: 30px;
        font-size: 32px;
        margin-bottom: -2px;
    }

    .article-text h3 {
        font-size: 24px;
        padding-left: 1vw;
    }

    .ingredients {
        font-size: 16px;
        list-style: none;
        padding: 1vw;
        padding-top: 0;
        padding-bottom: 2vw;
    }

    .article-text li {
        padding: 7px;
        padding-left: 0;
        padding-right: 7vw;
    }

    .steps {
        font-size: 16px;
        list-style: decimal;
        padding: 1vw;
        padding-top: 0;
        padding-left: 2vw;
    }

    .overview {
        display: flex;
    }

    .overview ul {
        list-style: none;
        background-color: #E8F2F1;
        padding: 3vw;
        margin: 1.58vw;
        margin-left: 0;
    }

    .overview li {
        padding: 1vw;
        padding-left: 0;
        padding-top: 0;
        font-size: 16px;
        color: #287379;
    }

    .overview img {
        width: 63%;
        margin: 1.5vw;
        margin-left: 0;
    }

    p {
        padding-right: 7vw;
    }

/* other article links section */
    .related-articles {
        width: 249px;
        height: 1560px;
        border-left: 1px solid #568366;
        padding: 20px;
        margin-right: -3vw;
    }

    .related-articles h3 {
        font-family: 'KronaOne';
        font-size: 20px;
        text-align: center;
    }

    article {
        padding: 1.5vw;
    }

    .card1 {
        padding-top: 5px;
    }

    article img {
        width: 100%;
    }

    article a {
        color: #568366;
        text-decoration: none;

    }

    article a:hover .article-preview {
        color: #ee8f00;
    }

    article a:hover .article-preview p {
        color: #ee8f00;
    }

    .article-preview h4 {
        font-family: 'KronaOne';
        margin: 0;
        padding: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .article-preview p{
        color:#014921;
        width: 180px;
        margin: 0;
        padding: 0;
    }


/* footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #568366;
    }

    footer img {
        width: 9vw;
        padding: 1vw;
    }

    footer ul {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        width: 35%;
        margin: 0;
    }

    footer ul li {
        color: #F7F4EB;
    }

    footer ul li a {
        color: #F7F4EB;
        text-decoration: none;
    }

    footer ul li a:hover {
        color: #FFCE55;
    }

    .follow-links {
        display: flex;
    }

    i {
        padding-left: 1vw;
    }


/* fonts */

@font-face {
    font-family: 'Kodchasan';
    src: url('../../assets/fonts/Kodchasan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KronaOne';
    src: url('../../assets/fonts/KronaOne-Regular.ttf') format('truetype');
}